{% extends "layout2.html" %}
{%block content %}
<div class = "content-section">
    <fieldset class = "form-group">
        <legend class = "border-bottom-mb-4"> Event: {{event.name}} </legend>
        {%if owned == False %}
          <form method = "POST" action = "">
            {{form.hidden_tag()}}
            <div class = "form-group">
                {{ form.submit(class = "btn btn_outline_info")}}
            </div>
          </form>
        {%endif%}
        <table style="width:100%" class = "table">
            <tr>
                <th>Name</th>
                <td>{{event.name}}</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>{{event.group_name}}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{event.place}}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{event.owner_username}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{event.date}}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{event.time}}</td>
            </tr>
            <tr>
                <th>Explanation</th>
                <td>{{event.explanation}}</td>
            </tr>
            <tr>
                <th>Participants:</th>
                <td>
                </td>
            </tr>
                {%for x in range(event.no_of_participants) %}
                    <tr>
                        <td>
                            {{event.participant_arr[x]}}
                        </td>
                        <td>
                            <form action="/event" method = "post">
                              <input type="hidden" name= "username" value= {{event.participant_arr[x]}} />
                              <input class = "form-group" type="submit"  formaction = "/profiles" value = "Show Profile" >
                             </form>
                        </td>

                    </tr>
                {%endfor%}
        </table>
        <h5> Comments </h5>
        <h6> Add Comment </h6>
        <form method = "POST" action = "">
            <!--Protection-->
            {{ commentform.hidden_tag() }}
            <fieldset class = "form-group">
                <div class = "form-group">
                    {{ commentform.subject.label(class = "form-control-label") }}
                    {{ commentform.subject(class = "form-control form-control-lg" ) }}
                </div>
                <div class = "form-group">
                    {{ commentform.comment.label(class = "form-control-label") }}
                    {{ commentform.comment(class = "form-control form-control-lg" ) }}
                </div>
                <div class = "form-group">
                    {{ commentform.send_notification.label(class = "form-control-label") }}
                    {{ commentform.send_notification(class = "form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class = "form-group">
                {{ commentform.submit(class = "btn btn_outline_info")}}
            </div>
        </form>
        {% for comment in comments%}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text">{{comment.owner}}</small>
                    <small class="text-muted">{{comment.time}}</small>
                </div>
                <p><a class="article-content" >Subject: {{ comment.subject }}</a></p>
                <p class="article-content">{{ comment.comment }}</p>
                <div class="article-metadata">
                    <small class="text-muted">Edited: {{comment.is_edited}}</small>
                </div>
                {%if comment.owner == posts.username%}
                <form action="" method = "post">
                    <input type="hidden" name= "comment_id_delete" value= {{comment.comment_id}} />
                    <input type="submit"  value = "Delete" formaction="/delete_comment">
                    <input type="hidden" name= "comment_id_update" value= {{comment.comment_id}} />
                    <input type="submit"  value = "Update" formaction="/update_comment">
                </form>
                {%endif%}
            </div>
        </article>
        {%endfor%}
    </fieldset>

</div>
{%endblock content %}
