{% extends "layout2.html" %}
  {%block content %}
    <h1> Welcome to TravelMate </h1>
    <h5> Here are the most popular events and trips abroad: </h5>
    {% for event in events%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <form action="/home" method = "post">
                    <input type="hidden" name= "event_id" value= {{event.event_id}} />
                    <input type="submit" value = "View">
                </form>
                <small class="text-muted">{{ event.day }}.{{event.month}}.{{event.year}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ event.name }}</a></h2>
            <p class="article-content">{{ event.explanation }}</p>
        </div>
    </article>
    {% endfor %}

{% endblock content %}
