<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device=width , initial-scale = 1, shrink-to-fit = no">
        <!--Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        {% if title %}
            <title> TravelMate - {{ title }} </title>
        {% else %}
            <title> TravelMate </title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/home">TravelMate</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                          <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="/home">Home</a>
                            <a class="nav-item nav-link" href="/profile">Profile</a>
                          </div>
                          <!-- Navbar Right Side -->
                            <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/">Logout</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        <div class = "container">
                <main role="main" class="container">
                    <div class="row">
                        <div class="col-md-8">
                            {% with messages = get_flashed_messages(with_categories = true) %}
                                {% if messages %}
                                    {% for category , message in messages %}
                                    <div class = 'alert alert-{{ category }}'>
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {% block content %}{% endblock %}
                          </div>
                          <div class="col-md-4">
                            <div class="content-section">
                              <h3>Group Operations </h3>
                                {%if owned %}
                                  <form method = "POST" action = "">
                                    {{ addpeople.hidden_tag() }}
                                    <div class = "form-group">
                                      {{ addpeople.username.label(class = "form-control-label") }}
                                      {{ addpeople.username(class = "form-control form-control-lg") }}
                                    </div>
                                    <div class = "form-group">
                                        {{ addpeople.submit1(class = "btn btn_outline_info")}}
                                    </div>
                                  </form>
                                  <form method = "POST" action = "">
                                    {{ addevent.hidden_tag() }}
                                    <div class = "form-group">
                                        {{ addevent.submit2(class = "btn btn_outline_info")}}
                                    </div>
                                  </form>
                                  <form method = "POST" action = "">
                                    {{ deleteform.hidden_tag() }}
                                    <div class = "form-group">
                                        {{ deleteform.submit3(class = "btn btn_outline_info")}}
                                    </div>
                                  </form>
                                  <form method = "POST" action = "">
                                    {{ updateform.hidden_tag() }}
                                    <div class = "form-group">
                                        {{ updateform.submit4(class = "btn btn_outline_info")}}
                                    </div>
                                  </form>
                                  <form method = "POST" action = "">
                                    {{ showevents.hidden_tag() }}
                                    <div class = "form-group">
                                        {{ showevents.submit5(class = "btn btn_outline_info")}}
                                    </div>
                                  </form>
                                  {%elif permission %}
                                    <form method = "POST" action = "">
                                      {{ addpeople.hidden_tag() }}
                                      <div class = "form-group">
                                        {{ addpeople.username.label(class = "form-control-label") }}
                                        {{ addpeople.username(class = "form-control form-control-lg") }}
                                      </div>
                                      <div class = "form-group">
                                          {{ addpeople.submit1(class = "btn btn_outline_info")}}
                                      </div>
                                    </form>
                                    <form method = "POST" action = "">
                                      {{ addevent.hidden_tag() }}
                                      <div class = "form-group">
                                          {{ addevent.submit2(class = "btn btn_outline_info")}}
                                      </div>
                                    </form>
                                    <form method = "POST" action = "">
                                      {{ updateform.hidden_tag() }}
                                      <div class = "form-group">
                                          {{ updateform.submit4(class = "btn btn_outline_info")}}
                                      </div>
                                    </form>
                                    <form method = "POST" action = "">
                                      {{ showevents.hidden_tag() }}
                                      <div class = "form-group">
                                          {{ showevents.submit5(class = "btn btn_outline_info")}}
                                      </div>
                                    </form>
                                  {% else %}
                                    <form method = "POST" action = "">
                                      {{ showevents.hidden_tag() }}
                                      <div class = "form-group">
                                          {{ showevents.submit5(class = "btn btn_outline_info")}}
                                      </div>
                                    </form>
                                  {%endif%}
                              <h3>Manage Your Profile </h3>
                              <p class='text-muted'>You are logged in as {{posts.username}}.
                                <ul class="list-group">
                                  <a class="list-group-item list-group-item-light" href = "/profile">Your Profile</a>
                                  <a class="list-group-item list-group-item-light" href = "/profile/update">Update Your Information</a>
                                  <a class="list-group-item list-group-item-light" href = "/profile/security">Change Password</a>
                                  <a class="list-group-item list-group-item-light" href = "/profile/delete">Delete Your Account</a>
                                </ul>
                              </p>
                                <h3>Events </h3>
                                <p class='text-muted'>
                                    You have incoming //3 events.
                                    <ul class="list-group">
                                        <a class="list-group-item list-group-item-light" href="/home">Discover new events</a>
                                        <a class="list-group-item list-group-item-light" href="/ownedevents">Owned Events</a>
                                        <a class="list-group-item list-group-item-light" href="/myevents">My Events</a>
                                        <a class="list-group-item list-group-item-light" href="/createevent">Create Event</a>
                                    </ul>
                                </p>
                                <h3>Groups </h3>
                                <p class='text-muted'>
                                    You have incoming //3 events.
                                    <ul class="list-group">
                                        <a class="list-group-item list-group-item-light" href="/owned_groups">Owned Groups</a>
                                        <a class="list-group-item list-group-item-light" href="/my_groups">My Groups</a>
                                        <a class="list-group-item list-group-item-light" href="/creategroup">Create Group</a>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </main>
        </div>
         <!--JavaScript -->

         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
