{% extends "layout2.html" %}
  {%block content %}
    <h1> {{ title }} </h1>
    {% for group in groups%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <form action="/my_groups" method = "post">
                    <input type="hidden" name= "group_id" value= {{group.group_id}} />
                    <input type="submit"  value = "View">
                </form>
            </div>
            <h2><a class="article-title" href="#">{{ group.name }}</a></h2>
            <p class="article-content">{{ group.description }}</p>
        </div>
    </article>
    {% endfor %}

{% endblock content %}
