{% extends "layout2.html" %}
  {%block content %}
    <h1> Owned Events </h1>
    <h5> Here are events created by you: </h5>
    {% for event in events%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <form action="/home" method = "post">
                    <small class="text-muted">{{ event.date}} {{ event.time}}</small>
                    <input type="hidden" name= "event_id" value= {{event.event_id}} />
                    <input type="submit"  value = "View">
                    <input type="hidden" name= "event_id_update" value= {{event.event_id}} />
                    <input type="submit"  value = "Update" formaction = "/update_event">
                    <input type="hidden" name= "event_id_delete" value= {{event.event_id}} />
                    <input type="submit" value = "Delete" formaction = "/delete_event">
                </form>
            </div>
            <h2><a class="article-title" href="#">{{ event.name }}</a></h2>
            <p class="article-content">{{ event.explanation }}</p>
        </div>
    </article>
    {% endfor %}

{% endblock content %}
