
{% extends "layout2.html" %}
{%block content %}
<div class = "content-section">
    <form method = "POST" action = "">
        <!--Protection-->
        {{ form.hidden_tag() }}
        <fieldset class = "form-group">
            <legend class = "border-bottom-mb-4"> Update {{group.name}} </legend>
            <div class = "form-group">
                {{ form.name.label(class = "form-control-label") }}
                {{ form.name(class = "form-control form-control-lg" , value = group.name) }}
            </div>
            <div class = "form-group">
                {{ form.isprivate.label(class = "form-control-label") }}
                {{ form.isprivate(class = "form-control form-control-lg") }}
            </div>
            <div class = "form-group">
                {{ form.max_number.label(class = "form-control-label") }}
                {{ form.max_number(class = "form-control form-control-lg", value = group.max_number) }}
            </div>
            <div class = "form-group">
                {{ form.description.label(class = "form-control-label") }}
                {{ form.description(class = "form-control form-control-lg", value = group.description) }}
            </div>
            <div class = "form-group">
                {{ form.give_permission.label(class = "form-control-label") }}
                {{ form.give_permission(class = "form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class = "form-group">
            {{ form.submit(class = "btn btn_outline_info")}}
        </div>
    </form>
</div>
<div class = "border-top pt-3">
    <small class = "text-muted">

    </small>
</div>
{% endblock content %}
